body {
    color: white;
    background-color: #0f111d;
}

.toolbar {
    margin: 0 auto 50px auto;
    width: 75%;
    display: flex;
    position: relative
}

.font-list {
    cursor: pointer;
    position: absolute;
    top: 100%;
    flex-direction: column;

    display: none;
}


.font-item {
    cursor: pointer;
    background-color: #0f111d;
    border: 1px solid yellow;
    padding: 0 10px;
    height: 50px;
    width: 200px;
    text-align: center;
}

#font-trigger:hover ~ .font-list {
    display: flex;
}

.font-list:hover {
    display: flex;
}

.font-item:hover {
    border: 1px solid red;
}

.editor {
    margin: 0 auto;
    width: 75%;
    height: 70vh;
    border: 2px solid blue;
    border-radius: 5px;
}



